.CTX_ContentTitleHeader { 
font-size : 16px; 
 }

.ctxsui-messagebox .headermessage { 
font-size : 16px; 
 }

.CTX_ContentTitleHeader { 
 color: #ffffff;
}

.eula_title {
 color : #ffffff;
}

.ctxsui-messagebox .headermessage { 
 color: #ffffff;
}

#dialogueHeader { 
 color: #ffffff;
}

#logonbox-logonform .plain:not(.CTX_ContentTitleHeader) { 
 font-size : 10px;
}

.eula .agreement {
 font-size : 10px;
}

#logonbox-logonform .plain.form_text { 
 font-size : 10px;
}

#logonbox-logonform .plain.CTXMSAM_LogonFont { 
 font-size : 10px;
}

#logonbox-logonform .plain.dialogueChallengeCell { 
 font-size : 10px;
}

.form_text { 
 font-size : 10px;
}

#logonbox-logonform .error { 
 font-size : 10px;
}

#logonbox-logonform .plain:not(.CTX_ContentTitleHeader)  { 
 color: #ffffff;
}

.eula .agreement{ 
 color: #ffffff;
}

.form_text  { 
 color: #ffffff;
}

#logonbox-logonform .plain.form_text  { 
 color: #ffffff;
}

.CTXMSAM_LogonFont  { 
 color: #ffffff;
}

.messageStyle  { 
 color: #ffffff;
}

#logonbox-logonform .error { 
 color: #ffffff;
}

#logonbox-logonform .plain.CTXMSAM_LogonFont { 
 color: #ffffff;
}

#logonbox-logonform .plain.dialogueChallengeCell { 
 color: #ffffff;
}

.header_left{ 
  background-position: left 20px center ; 
 }

.eula_title { 
 font-size : 20px;
}



.navBar a {
 color :#ffffff; 
}

.navBar a:hover, .currentLink a:link, .currentLink a:visited, .currentLink a:hover {
 color :#ffffff; 
}

